{% extends 'bootstrap/base.html' %}

{% block navbar %}
    <link rel="stylesheet" href="/static/template.css">
    <nav class="navbar navbar-default" role="navigation">

      <a class="navbar-brand" href="{{ url_for('index') }}">Chariots</a>


      <div class="collapse navbar-collapse" id="basicExampleNav">
          <ul class="nav navbar-nav">
              <li><a href="{{ url_for('order') }}"> Add Order </a></li>
              <li><a href="{{ url_for('vehicle') }}"> Add Vehicle </a></li>
              <li><a href="{{ url_for('compute') }}"> Solve</a> </li>
          </ul>
      </div>
    </nav>
{% endblock %}



{% block app_content %}
    <div class="container">
      <ul>
          {% for message in messages %}
          <li>{{ message }}</li>
          {% endfor %}
      </ul>
    </div>
{% endblock %}