{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block content %}
    
    <div><b>Current Orders</b></div>
    <br>
    <ul> 
    {% for order in orders %}
    <li>{{ order.address ~': '~ order.load ~ ' kg'}}</li>
    <form action="{{ url_for('delete_order')}}" method=post>
        <input type=hidden value="{{order.id}}" name="delete_order"/>
        <input type=submit value="delete", style="position:relative; left:80%;"></input>
    </form>
    {% endfor %} 
    </ul>
    <div><b>Available Vehicles</b></div>
    <br>
    <ul> 
    {% for vehicle in vehicles %}
    <li>{{ vehicle.vehiclename ~': '~ vehicle.capacity ~ ' kg' }}</li>
    <form action="{{ url_for('delete_vehicle')}}" method=post>
        <input type=hidden value="{{vehicle.id}}" name="delete_vehicle"/>
        <input type=submit value="delete", style="position:relative; left:80%;"></input>
    </form>
    
    {% endfor %} 
    <ul>

{% endblock %}