{% extends "base.html" %}

{% block content %}


    <h1>Welcome to Chariots!</h1>
    
    <div><b>Current Orders</b></div>
    <ul> 
    {% for order in orders %}
    <li>{{ order.address.encode("utf-8"), order.load }}</li>
    <form action="{{ url_for('delete_order')}}" method=post>
        <input type=hidden value="{{order.id}}" name="delete_order"/>
        <input type=submit value="delete", style="position:relative; left:80%;"></input>
    </form>
    {% endfor %} 
    </ul>
    <div><b>Available Vehicles</b></div>
    <ul> 
    {% for vehicle in vehicles %}
    <li>{{ vehicle.vehiclename.encode("utf-8"), vehicle.capacity }}</li>
    <form action="{{ url_for('delete_vehicle')}}" method=post>
        <input type=hidden value="{{vehicle.id}}" name="delete_vehicle"/>
        <input type=submit value="delete", style="position:relative; left:80%;"></input>
    </form>
    
    {% endfor %} 
    <ul>

{% endblock %}